form {
    text-align: center;
}
input {
    border: none;
    border-radius: 10px;
    width: 50%;
    height: 4rem;
    text-align: center;
}
span{
    font-size: 25px;
    margin: 0 15px;
}
.btnn{
    color: white;
    border: none;
    background: none;
}
.textarea{
    text-align: center;
    width: 50%;
    height: 40vh;
    border: none;
    border-radius: 15px;
}
@media screen and (max-width: 600px) {
    .textarea {
        width: 90%;
        height: 50vh;
    }
    input{
        width: 90%;
        height: 10vh;
    }
}