.body {
    background-color: rgba(0,0,0,0.7);
    height: 100%;
}
.main {
    height: 100vh;
}
.footer {
    background-color: rgba(0, 0, 0, 0.3);
    color: #f3f3f3;
    text-align: center;
    padding: 10px;
  }
.avatar {  
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.q_cont {
    /* height: 100%; */
    max-width: 500px;
    background-color: rgba(0,0,0,0.3);
    margin: 0 auto;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    /* font-size: 1.2rem; */
}
.q{
    width: 90%;
    margin: 10px auto;
    font-weight: bolder;
    font-size: larger;
}
.options {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 2em auto;
}
@media screen and (min-width: 1180px) {
    .options{
        width: 50%;
    }
}
.categories{
  max-height: 450px;
  overflow-y: scroll;
  padding: 30px;
}
::-webkit-scrollbar{
  width: 0px;
  background: transparent;
}
.category{
  display: block;
  text-align: center;
  border: 1px solid #969696;
  border-radius: 10px;
  padding: 10px 10px;
  text-decoration: none;
  background-color: rgba(0,0,0,0.3);
  transition: 0.3s;
  font-size: 1em;
  /* outline: none; */
  user-select: none;
  margin-top: .3em;
  cursor: pointer;
}
.option {
    display: block;
    border: 1px solid #969696;
    border-radius: 20px;
    padding: 15px 30px;
    text-decoration: none;
    background-color: rgba(0,0,0,0.3);
    transition: 0.3s;
    font-size: 1em;
    /* outline: none; */
    user-select: none;
    margin-top: .3em;
    cursor: pointer;
}
@media screen and (min-width: 900px) {
    .option:hover, .category:hover {
        color: white;
        background-color: #949596;
    }
}
.spinner_container {
    height: 100%;
    display: flex;
  }
  
  .spinner {
    margin: 80px auto;
    border: 10px solid #f3f3f3;
    border-top: 10px solid #3498db;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 1s linear infinite;
  }
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .repeat_btn {
    border: none;
    border-radius: 10px;
    padding: 12px 20px;
    margin: 8px 5px;
    box-sizing: border-box;
    color: white;
    background-color: #94928e;
  }